<! DOCTYPE HTML>
<html xmlnsth="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Team list</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div align="center" class ="container" style="padding:20px 0">
<form th:action="@{/logout}" method="post">
<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
</form>

<h1>Pelaajat</h1>
<table align="center">
<tr>
	<th>Etunimi</th>
	<th>Sukunimi</th>
	<th>Rooli</th>
	<th>Syntymävuosi</th>
	<th>Joukkue</th>
	</tr>
<tbody>
	<tr th:each = "player : ${players}">
		<td th:text= "${player.firstName}"></td>
		<td th:text="${player.lastName}"></td>
		<td th:text="${player.role}"></td>
		<td th:text="${player.birthYear}"></td>
		<td th:text="${player.team.name}"></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deleteplayer/{id}(id=${player.id})}" class="btn btn-xs btn-danger">Poista pelaaja</a></td>
		</tr>
		</tbody>
</table>
<a sec:authorize="hasAuthority('ADMIN')" href="/addplayer" class="btn btn-primary">Lisää pelaaja</a>
<a href="teamlist" class="btn btn-primary">Joukkueet</a>
</div>
</body>




</html>